<div *ngIf="photo">
  <div class="nav-bar">
    <div class="left">
      <button (click)="goBack()">Prev</button>
    </div>
    <div class="center">
      <button (click)="slideshow()">Slideshow</button>
      <button (click)="stopSlideshow()">Stop</button>
      <button class="delete-btn" (click)="delete()">Delete</button>
    </div>
    <div class="right">
      <button (click)="goNext()">Next</button>
    </div>

  </div>
  <h2>{{photo.title}}</h2>
  <div>
    <label>ID: </label>{{photo.id}}</div>
  <div>
    <label>Date: </label>
    {{photo.date}}
  </div>

  <div class="image">
    <img class="preview"  [src]="photo.url" (error)="setDefault($event)">

  </div>

</div>
